{% extends 'adminBase.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-5">Product list</h1>

        <form method="post" class="mt-3 mb-3" action='/adm/search/product'>
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control " name="name" placeholder="Name">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="price-min" placeholder="Price min">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="price-max" placeholder="Price max">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="category" placeholder="Category">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead class="thead-light">
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
            </thead>
            {% for p in products %}
                <tr>
                    <th>{{ p.id }}</th>
                    <th>{{ p.name }} </th>
                    <th>{{ p.unit_price }}</th>
                    <th>{{ p.category }}</th>
                    <th>
                        <form class="form-inline" method="post" action='/adm/product/{{ p.id }}'>
                            {% csrf_token %}
                            <div class="form-group">
                                <button class="submitbtn" type="submit">Update
                                </button>
                            </div>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
