{% extends 'adminBase.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-5">Product n°{{ product.id }} : {{ product.name }}</h1>
    <p class="message">{{ message }}</p>
    <form method="post" action='/adm/product/{{product.id}}/update/'>
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="{{ product.name }}" required="true">
        </div>
        <div class="form-group">
            <label>Category</label>
            <input type="text" class="form-control" name="category" value="{{ product.category }}" required="true">
        </div>
        <div class="form-group">
            <label>Unit Price</label>
            <input type="number" min="0.00" step="0.01" class="form-control" name="unit_price" value="{{ product.unit_price }}" required="true">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href='/adm/home/' type="submit" class="btn btn-secondary mt-2">Back</a>

</div>


{% endblock %}