{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <h1 class="mb-5 mt-5"> My cart<i class="ml-3  material-icons md-36">
            shopping_cart
        </i></h1>
        <span class="glyphicon glyphicon-asterisk"></span>
        {% if cartrows.count > 0 %}
            <table class="table table-bordered">
                <thead class="thead-light">
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th></th>

                </thead>
                {% for c in cartrows %}
                    <tr>
                        <th>{{ c.product.name }}</th>
                        <th>{{ c.product.unit_price }}</th>
                        <th>

                            <form class="form-inline" method="post" action='/cartrow/{{ c.id }}/update'>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="number" min="0" step="1" required="true" class=" quantity form-control"
                                           id="quantity" name="quantity" value="{{ c.quantity }}">
                                    <button class="submitbtn" hidden type="submit"></button>

                                </div>
                            </form>
                        </th>
                        <th>
                            <form class="form-inline" method="post" action='/cartrow/{{ c.id }}/delete'>

                                {% csrf_token %}
                                <button class="btn btn-danger"><i class="fa fa-fw fa-times"></i>delete</button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}
            </table>
            <a href="/payment/" class="btn btn-primary" >Proceed to payment</a>
            {% else %}
            <div class="alert alert-warning" role="alert">
                Your cart is empty
            </div>
        {% endif %}
        <script>
            $(document).ready(function () {
                $('.quantity').change(function () {
                    $(this).next().click()
                })
            })

        </script>

    </div>
{% endblock %}

