<!DOCTYPE html>
<html lang="fr">
<head>

    {% block title %}<title>Securite</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-2">Registration</h1>
    <p class="message">{{ message }}</p>
    <form method="post" action='/user/create'>
        {% csrf_token %}
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last-name">
            <label>First Name</label>
            <input type="text" class="form-control" name="first-name">
            <label>Email</label>
            <input type="email" class="form-control" name="email">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


{% endblock %}