{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">Payment</h1>
        {% if cartrows.count > 0 %}
            <div class="card p-3 mb-4 shadow">
                <h2 class="mb-3">Sum up</h2>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    </thead>
                    {% for c in cartrows %}
                        <tr>
                            <th>{{ c.product.name }}</th>
                            <th>{{ c.product.unit_price }}</th>
                            <th>{{ c.quantity }}</th>
                            <th>{{ c.total }}
                            </th>
                        </tr>
                    {% endfor %}
                </table>

                <h5>Total : <span>{{total}} €</span></h5>
            </div>

            <div class="card p-3 shadow mb-4">
                <h2> Credit card info</h2>
                <form method="post" action='/pay/'>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname" placeholder="firstname..." required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname" placeholder="lastname..." required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cardnumber">Credit card number</label>
                        <input type="text" class="form-control" id="card_number" name="card_number" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX"
                               required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="expirationDate">Expiration date</label>
                            <input type="text" class="form-control" id="expirationDate" placeholder="MM-YYYY" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cryptogram">Cryptogram</label>
                            <input type="text" class="form-control" id="cryptogram" placeholder="..." required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group mr-3">
                                                <a href="/cart/" class="btn btn-danger">Cancel</a>

                        </div>
                        <div class="form-group ">
                                                <button type="submit" class="btn btn-primary">Proceed to payment</button>

                        </div>
                    </div>

                </form>
            </div>


        {% else %}
            <div class="alert alert-warning" role="alert">
                Your cart is empty
            </div>
        {% endif %}

    </div>
{% endblock %}
